<div>
    <h3>Hi <%= post.user.name%>,</h3>
    <br>
    <p>
        Your Post
        <b><%= post.content.substring(0, post.content.length/3)%>...</b>
        is successfully published.
    </p>

    <br>
    <p>
        thanks regards Codia
    </p>
</div>