<header>
    <div><a href="/">DevCom</a></div>
    <ul>
        <% if(locals.user) { %>
            <% if(user.avatar){%>
                <div>
                    <img src="<%= user.avatar%>" alt="Avatar Image" width="40" height="30">
                </div>
            <%}%>
            <li><a href="/user/profile/<%= user._id%>"><%= user.name%></a></li>
            <li><a href="/user/sign-out">Sign-Out</a></li>
        <%} else {%>
            <li><a href="/user/sign-in">Sign-In</a></li>
            <li><a href="/user/sign-up">Sign-Up</a></li>

        <% }%>
    </ul>
</header>