<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/footer.css">
    <title>Document</title>
</head>
<body>
    <%- include('_header')%>
    <div class="outer-div">
        <aside class="one">
            <div >
                <ul>
                    <li><a class="home" href="/">Home</a></li>
                    <% if(locals.user) {%>
                        <li><a class="profile" href="/user/profile">Profile</a></li>
                        <li><a class="signout" href="/user/sign-out">Sign-Out</a></li>
                    <%} else {%>
                        <li><a class="signup" href="/user/sign-up">Sign-up</a></li>
                        <li><a class="signin" href="/user/sign-in">Sign-In</a></li>
                    <%}%>
                </ul>
            </div>
        </aside>
        <div class="two"><%- body%></div>
        <aside class="three">
            <div >hello3</div>
        </aside>
    </div>
    <%- include('_footer')%>
    
</body>
</html>