<div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
    <p style="margin: 0px;">
        <a href="/user/forget-password">forget Password ?</a>
    </p>
    <p style="margin: 0px;">
        ----or----
    </p>
    <p style="margin: 0px;" class="google-login">
        <a href="/user/auth/google">Sign in using google</a>
    </p>
</div>