<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/signin.css">
    <title>DevCom</title>
</head>
<body>
    <main>
        <h1>Now Enter New Password !!!</h1>
        <form action="/user/update-password" method="post">
            <input type="text" name="password" placeholder="Password" required>
            <input type="hidden" name="accesstoken" value="<%= accessToken%>">
            <input type="password" name="cfPassword" placeholder="Confirm Password" required>
            <input type="submit" value="Submit">
        </form>
        
    </main>
</body>
</html>