
<body>
    <main>
        Hello
        <% if(locals.user) {%>
        <%= locals.user.name %>
        <%}%>,
        
        Welcome to DevCom 
        <section id="feed-posts">
            <h4>Posts</h4>
            <% if(locals.user) {%>
            <form action="/posts/create" id="new-post-form" method="POST">
                <textarea name="content" cols="63" rows="4" placeholder="Type Here to Add Post..." style="resize: none;" required></textarea>
                <input type="submit" value="Post" style="padding: 0px 20px;">
            </form>
            <% } %>

            <div id="post-container">
                <ul>
                    <%for( post of AllPosts) {%>
                        <%- include('_posts') %>
                    <% } %>
                </ul>
            </div>
        </section>
        <% if(locals.user){%>
            <aside class="three">
                <div class="friends">
                    <div>Friends</div>
                    <%for(u of fUser.friends){%>
                        <%- include('_friends')%>
                    <%}%>
                </div>
                <div class="allusers">
                    <div >All Users</div>
                    <% for(u of all_Users) {%>
                        <%- include('_users')%>
                    <%}%>
                </div>
            </aside>
        <%}%>
    </main>

    <script src="/js/home_post_comments.js"></script>
    <script src="/js/home_posts.js"></script>
    <script src="/js/likeables.js"></script>
</body>
<script>
    var btns = document.querySelectorAll('a.like');
    var icons = document.querySelectorAll('a.like i');
    console.log(icons);
    for(let btn = 0; btn< btns.length; btn++){
        btns[btn].addEventListener('click', function(){
            console.log('function called');
            btns[btn].classList.toggle('liked');
        });
    }

    $('.like').each(function(){
        let self = this;
        let toggleLike = new ToggleLike(self);
    })
</script>
