
<body>
    <main>
        Hello
        <% if(locals.user) {%>
        <%= locals.user.name %>
        <%}%>,
        
        Welcome to Codia 
        <section id="feed-posts">
            <h4>Posts</h4>
            <% if(locals.user) {%>
            <form action="/posts/create" id="new-post-form" method="POST">
                <textarea name="content" cols="30" rows="2" placeholder="Type Here..."></textarea>
                <input type="submit" value="Post">
            </form>
            <% } %>

            <div id="post-container">
                <ul>
                    <%for(let post of AllPosts) {%>
                        <li>
                            <p>
                                <div>
                                    <%= post.content%>
                                </div>
                                <div>
                                    <small>
                                       ~ <%= post.user.name %>
                                    </small>
                                </div>
                                <div>
                                    <small>
                                        <%= post.createdAt%>
                                    </small>
                                </div>
                            </p>
                        </li>
                    <% } %>
                </ul>
            </div>
        </section>
    </main>
    
</body>
