header{
    display: flex;
    justify-content: space-between;
    padding: 14px;
    font-size: 1.3rem;
    background: #e8a14b;
    ul{
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        width: 21%;
        list-style: none;
    }    
}
