body {
  margin: 0px;
  padding: 0px; }
  body ::-webkit-scrollbar {
    width: 10px;
    background: white;
    color: orange; }

.visible {
  opacity: 0; }

main {
  min-height: 69vh;
  font-size: 1.3rem;
  border: 2px solid orange;
  padding: 40px 40px;
  background-color: #f6f6f6;
  margin-bottom: 29px;
  border-radius: 8px; }

.outer-div {
  display: flex;
  margin-top: 82px; }

aside {
  position: fixed; }

.one {
  left: 17px; }
  .one ul {
    list-style: none;
    text-decoration: none;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 146px; }
    .one ul li {
      width: 100%;
      width: 142px;
      padding: 8px 18px; }
      .one ul li a {
        border: 2px solid orange;
        width: 100%;
        text-decoration: none;
        padding: 11px 38px;
        color: orange; }
      .one ul li a:hover {
        color: white !important;
        background-color: orange; }
      .one ul li a.home {
        padding: 9px 81px 9px 59px;
        position: relative;
        left: -19px; }
      .one ul li a.profile {
        padding: 9px 78px 9px 59px;
        position: relative;
        left: -19px; }
      .one ul li a.signin {
        padding: 12px 42px 13px 35px;
        position: relative;
        left: -19px; }
      .one ul li a.signup {
        position: relative;
        left: -19px; }
      .one ul li a.signout:hover {
        background-color: red; }
  .one .chat-box {
    height: 324px;
    width: 342px;
    border: 2px solid orange;
    box-shadow: 2px 0px 8px black;
    background: white;
    z-index: 10;
    position: relative;
    top: -40px; }
    .one .chat-box .chat {
      height: 90%;
      scroll-behavior: revert;
      overflow-y: scroll;
      overflow-x: hidden;
      padding: 10px 25px; }
    .one .chat-box .received {
      padding: 4px 19px;
      width: fit-content;
      box-shadow: 2px 0px 8px black;
      background: black;
      font-size: 1.1rem;
      color: white;
      border-radius: 5px;
      position: relative;
      left: -8px;
      top: 5px;
      margin: 11px 0px; }
    .one .chat-box .sent {
      padding: 4px 19px;
      width: fit-content;
      box-shadow: 2px 0px 8px black;
      background: orange;
      font-size: 1.1rem;
      color: white;
      border-radius: 5px;
      position: relative;
      right: -190px;
      top: 5px;
      margin: 11px 0px; }
    .one .chat-box .form {
      display: flex;
      justify-content: center;
      position: relative;
      bottom: 26px;
      margin: 15px 0px; }
      .one .chat-box .form input[type="text"] {
        width: 240px;
        padding: 3px 60px 2px 7px;
        font-size: 1.1rem; }
  .one .btn {
    color: orange;
    font-size: 2rem;
    position: absolute;
    bottom: -17px;
    box-shadow: 3px 3px 24px black;
    border-radius: 50%;
    background: black;
    padding: 4px;
    cursor: pointer; }

.two {
  width: 50%;
  margin: auto; }

.three {
  position: fixed;
  top: 100px;
  right: 49px; }
  .three .allusers {
    height: 282px;
    overflow-y: scroll; }
  .three .friends {
    height: 198px;
    border-bottom: 1px solid orange;
    overflow-y: scroll;
    margin-bottom: 14px;
    padding-bottom: 16px; }

#feed-posts h4 {
  font-size: 1.4rem; }

#feed-posts form {
  display: flex; }
  #feed-posts form textarea {
    border-radius: 8px 0px 0px 7px;
    border: 2px solid orange;
    border-right: 0; }
  #feed-posts form input[type="submit"] {
    border-radius: 0px 8px 7px 0px;
    border: 2px solid orange;
    background-color: orange;
    color: white; }

#post-container ul {
  list-style: none;
  padding: 0px; }
  #post-container ul li {
    padding: 10px;
    background-color: #fff;
    margin: 13px 0px;
    z-index: -1;
    border-radius: 13px; }
  #post-container ul .post-parent {
    position: relative;
    border: 2px solid orange;
    padding: 9px 6px 70px 6px;
    border-radius: 13px; }
    #post-container ul .post-parent small {
      display: flex;
      justify-content: space-between;
      font-size: 0.9rem;
      margin-bottom: 15px; }
      #post-container ul .post-parent small .dateTime {
        flex-basis: 25%;
        font-size: 0.6rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center; }
        #post-container ul .post-parent small .dateTime a {
          font-size: 1.1rem;
          color: orange; }
  #post-container ul .un-auth-like {
    font-size: 1rem;
    color: orange;
    border: 2px solid;
    position: relative;
    width: fit-content;
    padding: 1px 4px;
    top: 8px; }
  #post-container ul a.like {
    color: orange;
    border: 2px solid;
    padding: 2px 8px;
    font-size: 0.9rem;
    text-decoration: none; }
  #post-container ul a.liked {
    background: orange;
    color: white !important; }
  #post-container ul .comment-container ul {
    list-style: none; }
    #post-container ul .comment-container ul li {
      padding: 4px 4px 4px 20px;
      font-size: 1.1rem;
      margin: 0;
      min-height: 63px; }
      #post-container ul .comment-container ul li .comments-parent {
        border: 1px solid black;
        padding: 7px 4px;
        border-radius: 6px;
        zoom: 0.8;
        min-height: 42px; }
        #post-container ul .comment-container ul li .comments-parent small {
          display: flex;
          justify-content: space-between; }
          #post-container ul .comment-container ul li .comments-parent small .dateTime {
            flex-basis: 35%;
            font-size: 0.6rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center; }
            #post-container ul .comment-container ul li .comments-parent small .dateTime a {
              font-size: 0.89rem;
              color: orange; }
            #post-container ul .comment-container ul li .comments-parent small .dateTime div {
              font-size: 0.8rem;
              color: orange;
              border: 2px solid;
              position: relative;
              width: fit-content;
              padding: 1px 4px; }
  #post-container ul input[type="text"] {
    padding: 7px;
    width: 83%;
    margin-top: 20px;
    border-radius: 8px 0px 0px 7px;
    border: 2px solid orange;
    border-right: 0; }
  #post-container ul input[type="submit"] {
    margin-top: 20px; }
